<!DOCTYPE html>
<html>
  <head>
    <title>TicketScanner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>


  </head>
  <style>
      html {
        height: 100%;
      }
      body {
        min-height: 100%;
        display: flex;
        flex-direction: column;
      }
      .flex-grow {
        flex-grow: 1;
      }
      .bg-black{
        background-color: black
      }
      .text-white {
        color: white
      }
      .bg-red-600{
        background-color: #e30713
      }
      .bg-white{
        background-color: white !important;
      }
      .bg-red-700{
        background-color: #e30713
        
      }
      .text-white{
        color: white !important;
      }
      .bg-yellow-400{
        background-color: #facc15
      }
      .bg-image {
        background-image: url('/bg-bim.svg'); /* Path to your SVG in the "public" folder */
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Optional - keeps the background fixed while scrolling */
        background-position: center center;
        min-height: 100%;
      }
    </style>

  <body class="flex flex-col bg-image">
    <%= render "/partials/alert" %>
    <%= render "/partials/notice" %>
    <%= render "/partials/nav" %>
    
    <main class="container max-w-8xl mx-auto mt-10 flex-grow bg-slate-800">
      <%= yield %>
    </main>
    <footer class="w-full bg-black p-4 text-white md:p-8 mt-auto" >
      <div class="container mx-auto">
        <div class="flex flex-col items-center justify-between gap-4 md:flex-row">
          <!-- Your footer content goes here -->
          <div class="">
            <a href="#"> <img src="https://www.bim.ma/templates/page/bimtr/css/images/bottom_logo.png" alt="" /> </a>
          </div>
          <div class="flex flex-col md:flex-row">
            <ul>
              <li>
                <a href="https://www.bim.ma/contenu/1/philosophie-de-bim.aspx">Philosophie de BİM<span>مبادئ بيم</span></a>
              </li>
              <li>
                <a href="https://www.bim.ma/contenu/7/présentation-du-produit.aspx">Présentation du Produit <span>عرض المنتج</span></a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="https://www.bim.ma/contenu/3/assurance-qualité.aspx">Assurance Qualité <span>ضمان الجودة</span> </a>
              </li>
              <li>
                <a href="https://www.bim.ma/contenu/5/carrière-chez-bim.aspx">Carrière chez BİM<span>فرص التوظيف في BIM </span></a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="https://www.bim.ma/contenu/2/magasins.aspx">Magasins<span>متاجرنا</span></a>
              </li>
              <li>
                <a href="https://www.bim.ma/contenu/10/formulaire-de-réclamation.aspx">Formulaire de réclamation<span>استمارة الشكوى</span></a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="https://www.bim.ma/contenu/4/nous-contacter.aspx">Nous Contacter<span>للاتصال بنا </span></a>
              </li>
              <li>
                <a href="https://www.bim.ma/contenu/11/vous-etes-propriétaire-d-un-local-que-vous-voulez-louer.aspx">Formulaire location magasin<span> استمارة كراء محل تجاري</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
